@model IEnumerable<Rockaway.WebApp.Data.Entities.Show>
@{
	ViewData["Title"] = "Index";
}
<h1>Index</h1>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Venue)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Headliner)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SupportActs)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					<a asp-action="Details" asp-controller="Venues" asp-route-id="@item.Venue.Id">@item.Venue.Name</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				<td>
					<a asp-action="Details" asp-controller="Artists" asp-route-id="@item.Headliner.Id">@item.Headliner.Name</a><br />
				</td>
				<td>
					@string.Join(", ", item.SupportActs.Select(a => a.Artist.Name).ToArray())
				</td>
			</tr>
		}
	</tbody>
</table>
